<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Simplify Sequence</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
 	</head>
 	<body>
		<div>
			<h2>Input Sequence</h2>
			<form action="/hello" method="post">
				Input Sequence: <textarea rows="4" cols="50" name="sequence"></textarea>
				<br />
				First Index: <input type="text" name="FirstIndex">
				<br />
				Second Index: <input type="text" name="SecondIndex">
				<br />
				<input type="submit">
			</form>
		</div>

		<div>
			<h2>Find Sub-Sequence</h2>
			<form action="/find" method="post">
				Input Sequence: <textarea rows="4" cols="50" name="sequence"></textarea>
				<br />
			  	Sub-Sequence: <textarea rows="4" cols="50" name="sub_sequence"></textarea>
			  	<br />
			  	<input type="submit">
			</form>
		</div>
 	</body>
</html>