<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Simplify Sequence</title>
		<script type="text/javascript">
			//auto expand textarea
			function adjust_textarea(h) {
    			h.style.height = "20px";
    			h.style.height = (h.scrollHeight)+"px";
			}
		</script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
 	</head>
 	<body>
		<div>
			<h2>Input Sequence</h2>
			<form action="/hello" method="post" class="form-style">
				<ul>
					<li>
						<label for="sequence">Sequence</label>
						<textarea name="sequence" onkeyup="adjust_textarea(this)"></textarea>
						<span>Input your sequence here</span>
					</li>
					<li>
						<label for="FirstIndex">First Index</label>
						<input type="text" name="FirstIndex" maxlength="100">
						<span>Enter your first index</span>
					</li>
					<li>
						<label for="SecondIndex">Second Index</label>
						<input type="text" name="SecondIndex" maxlength="100">
						<span>Enter your second index</span>
					</li>
					<li>
						<input type="submit" value="Output Result">
					</li>
				</ul>
			</form>
		</div>

		<div>
			<h2>Find Sub-Sequence</h2>
			<form action="/find" method="post">
				Input Sequence: <textarea name="sequence"></textarea>
				<br />
			  	Sub-Sequence: <textarea name="sub_sequence"></textarea>
			  	<br />
			  	<input type="submit">
			</form>
		</div>
 	</body>
</html>